<h1>Runners Index page</h1>
<p> runners listed for </p>
<%= notice %>

<table border="1" width="80%" cellspacing="0" cellpadding="5">
    <thead>
  <tr>
    <th>Name</th>
    <th>Club</th>
    <th></th>
  </tr>
</thead>
<tbody>
<% @runner.each do |runner| %>
  <tr>
    <td><%= runner.runner_name %></td>
    <td><%= runner.club %></td>
    <td><%= link_to "Edit", edit_runner_path(runner) %></td>
  </tr>
<% end %>
</tbody>
</table>

<p><%= link_to "Add New Runner", new_runner_path %></p>
