<%= form_for(@coach) do |f| %>
<ul>
      <% @coach.errors.full_messages.each do |msg| %>
        <li><%= msg %></li>
      <% end %>
  <fieldset>
    <legend>Runner Details</legend>
    <div class="field">
      <%= f.label :first_name %>
      <%= f.text_field :first_name %>
    </div>
    <div class="field">
      <%= f.label :last_name %>
      <%= f.text_field :last_name %>
    </div>
    <div class="field">
      <%= f.label :group_level %>
      <%= f.text_field :group_level %>
    </div>
    <%= @coach.id %>
  </fieldset>

  <div class="actions">
    
    <%= f.submit "Submit"%>
  
  </div>

<% end %>